body{
	margin:0px auto;
	width: 100%;/* it means 100% of your screen size */
}
nav ul li{
	list-style-type: none;/* bullets/decimals */
	float: left; /* display the content from left to right or right to left*/
	padding-right : 2.5em;/* gives spacing to the list */ 
	color:#f5f5f5;/*check out color hunt for best colors */
}
nav ul{
	float: left; /* display to the left of page or right of page */
}
nav{
	width: 90% auto;
	height: 50px;
	background-color:#0f4c75; 
}
section{
	background-color:#ececec;
}
.home{
	background-color:#4e89ae;
	text-align: center;
	font-size:40px;
	color:#f5f5f5;
	/*padding: 150px;*/
	display: table;
	height:100vh;/*vh is view height which is nothing but screen height*/
	width:100%;
}
.inner
{
	display: table-cell;
	vertical-align: middle;
}
.home .inner img
{
	border-radius: 100%;
	width: 200px;
	height: auto;
}
.about
{
	background-image: url('https://img.freepik.com/free-photo/ballpoint-pen-showing-communication-contact-us-mail-concept-gray-background_127657-7189.jpg?size=626&ext=jpg&ga=GA1.2.129209249.1600605441');
	display: table;
	height:100vh;
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.about .inner
{
	display: table-cell;
	vertical-align: middle;
	width: 60%;
	float: left;
	padding-top: 75px;
	padding-left: 50px;
}
.about .inner h1
{
	font-size: 40px;
}
.about .inner p
{
	font-size: 28px;
}